<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: @placa, local: true do |form| %>

<%= link_to 'Voltar para tela inicial', root_path, class:'btn btn-primary'%>
  <%= form.label 'Placa:', style:'font-size: 20px'%>
    <%= form.text_field :placa, class:'form-control', style:'margin: 10px'%>
  <%= form.label 'Proprietário:', style:'font-size: 20px'%>
    <%= form.text_field :proprietario, class:'form-control', style:'margin: 10px'%>
  <%= form.label 'Modelo:', style:'font-size: 20px'%>
    <%= form.text_field :modelo, class:'form-control', style:'margin: 10px'%>
  <%= form.label 'Ano:', style:'font-size: 20px'%>
    <%= form.text_field :ano, class:'form-control', style:'margin: 10px'%>

  <%= form.submit 'Criar novo registro', class:'btn btn-primary'%> 
<%end%>